PORT=3001
PROT=development
DATABASE_URL=DATABASE_URL=postgresql://neondb_owner:npg_8JRWnwKkCHx5@ep-solitary-dust-al8wavw7-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_d2VsY29tZS1hcGhpZC0xMS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_EUdrt9wziYZybPD1Dj8xme2UhA8Vi3p3mgqh96MQXi

SENTRY_DSN=https://7d3ff630b39462a4e9e9b2f4739f46de@o4511322062061568.ingest.de.sentry.io/4511322066387024

STRAM_API_KEY=z3xervtrtaaf
STRAM_API_SECRETE=ggbsun8jrcsjd7n8zswwwcs3nwad6rt4jhgmwdd7r2vvj2w7q95yv42n7fyrrgkf

IMAGEKI_PUBLIC_KEY=public_toiuA+IXrBf5g3D30Vx4EBueqYE=
IMAGEKI_PRIVATE_KEY=private_ydoakUgoQ13FEoFunh5d7OTxEyQ=
IMAGEKI_URL=https://ik.imagekit.io/fy1cup7if
